<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% if action == 'remove'%}
    <div class="data" id="deleteData">
        <form action="/delete/" method="post">
            <h3 style="text-align: center;">{{doc['Name']}}</h3>
            <!-- Body Data -->
            <input type="hidden" name="grantid" value={{grantid}}>
            <input type="hidden" name="Name" value="{{doc['Name']}}">
            <div><span class="viewDataLabel">GRANT STATUS: </span>{{doc['GrantStatus']}}</div>
            <div><span class="viewDataLabel">APPLICATION STATUS: </span>{{doc['ApplicationStatus']}}</div>
            <div><span class="viewDataLabel">WEBSITE: </span><a target="_blank" href="{{doc['Website']}}">{{doc['Website']}}</a></div>
            <div><span class="viewDataLabel">IS IT RECURRING: </span>{{doc['Recurring']}}</div>
            <div><span class="viewDataLabel">APPLY START DATE: </span>{{doc['ApplyStartDate']}}</div>
            <div><span class="viewDataLabel">APPLY DEADLINE: </span>{{doc['ApplyDeadline']}}</div> 
            <div><span class="viewDataLabel">GRANT AMOUNT: </span>{{doc['GrantAmount']}}</div>
            <div><span class="viewDataLabel">WHO IS GIVING THIS GRANT: </span>{{doc['GrantGiver']}}</div>
            <div><span class="viewDataLabel">GRANT DESCRIPTION: </span>{{doc['GrantDescription']}}</div>
            <!-- ----------------- -->
            <div class="removeButtons">
                <input type="submit" style="font-family: sans-serif;" value="Delete"></input>
                <a href="/home/"><input type="button" value="Cancel"></a>
            </div>
        </form>
    </div>
    {% endif %}

    {% if action == 'edit'%}
    <div class="data" id="editData">
        <form action="/save/" method="post" >
            <h3>{{doc['Name']}}</h3>
            <!-- Body Data -->
            <div>Name: <input type="text" name="Name" value="{{doc['Name']}}"/></div>
            <div><label for="GrantStatus">Grant Status:</label>
                <select name="GrantStatus" > 
                    {% for status in grantStatusList %}
                    <option {{'selected' if status == doc['GrantStatus'] else ''}}  value="{{status}}">{{status}}</option>
                    {% endfor %}
            </select></div>
            <div><label for="ApplicationStatus">Application Status:</label>
                <select name="ApplicationStatus" > 
                    {% for status in applicationStatusList %}
                    <option {{'selected' if status == doc['ApplicationStatus'] else ''}}  value="{{status}}">{{status}}</option>
                    {% endfor %}
            </select></div>
            <input type="hidden" name="CreatedBy" value="{{doc['CreatedBy']}}"">
            <input type="hidden" name="DateCreated" value="{{doc['DateCreated']}}">
            <div>Website: <input type="text" name="Website" value="{{doc['Website']}}"/></div>
            <div>Is It Recurring: <input type="text" name="Recurring" value="{{doc['Recurring']}}"/></div>
            <div>Apply Start Date: <input type="date" name="ApplyStartDate" value="{{doc['ApplyStartDate']}}"/></div>
            <div>Apply Deadline: <input type="date" name="ApplyDeadline" value="{{doc['ApplyDeadline']}}"/></div> 
            <div>Grant Amount: <input type="text" name="GrantAmount" value="{{doc['GrantAmount']}}"/></div>
            <div>Who Is Giving This Grant: <input type="text" name="GrantGiver" value="{{doc['GrantGiver']}}"/></div>
            <div>Optional Link: <input type="text" name="OptionalLink" value="{{doc['OptionalLink']}}"/></div>
            <div><textarea maxlength="500" placeholder="GRANT DESCRIPTION (500 Chars" name="GrantDescription" rows="4">{{doc['GrantDescription']}}</textarea></div>
            <input type="hidden" name="grantid" value={{grantid}}>
            <!-- ----------------- -->
            <input type="submit" value="Save & Exit">
            <a href="/home/"><input type="button" value="Exit"></a>
            <input type="reset" value="Reset">
        </form>
    </div>
    {% endif %}

    {% if action == 'create'%}
    <div id="createData" class="data">
        <form action="/create/" method="post" >
            <h3><center>NEW GRANT CREATION</center></h3>
            <!-- Body Data -->
            <div>Name: <input required type="text" name="Name"/></div>
            <div><label for="GrantStatus">Grant Status:</label>
                <select name="GrantStatus" > 
                    {% for status in grantStatusList %}
                    <option value="{{status}}">{{status}}</option>
                    {% endfor %}
            </select></div>
            <div><label for="ApplicationStatus">Application Status:</label>
                <select name="ApplicationStatus" > 
                    {% for status in applicationStatusList %}
                    <option value="{{status}}">{{status}}</option>
                    {% endfor %}
            </select></div>
            <div>Website: <input type="text" name="Website"/></div>
            <div>Is It Recurring: <input type="text" name="Recurring"/></div>
            <div>Apply Start Date:<input type="date" name="ApplyStartDate"/></div>
            <div>Apply Deadline: <input type="date" name="ApplyDeadline"/></div> 
            <div>Grant Amount: <input type="text" name="GrantAmount"/></div>
            <div>Who Is Giving This Grant: <input type="text" name="GrantGiver"/></div>
            <div>Optional Link: <input type="text" name="OptionalLink"/></div>
            <div><textarea maxlength="500" placeholder="GRANT DESCRIPTION (500 Chars)" name="GrantDescription" rows="4"></textarea></div>
            <!-- ----------------- -->
            <input type="submit" value="Create">
            <a href="/home/"><input type="button" value="Exit"></a>
        </form>
    </div>
    {% endif %}

    {% if action == 'view'%}
    <div id="viewData" class="viewData">
        <h3 style="text-align: center;">{{doc['Name']}}</h3>
        <input type="hidden" name="grantid" value={{grantid}}>
        <div><span class="viewDataLabel">Created By: </span>{{doc['CreatedBy']}}</div>
        <div><span class="viewDataLabel">Date Created: </span>{{doc['DateCreated']}}</div>
        <div><span class="viewDataLabel">GRANT STATUS: </span><span style= {{'color:red' if doc['GrantStatus'] == 'Grant Closed' else 'color:green;'}}>{{doc['GrantStatus']}}<span></div>
        <div><span class="viewDataLabel">APPLCIATION STATUS: </span><span style= {{'color:red' if doc['ApplicationStatus'] == 'Rejected'  else 'color:green;'}}>{{doc['ApplicationStatus']}}<span></div>
        <div><span class="viewDataLabel">GRANT AMOUNT: </span>{{doc['GrantAmount']}}</div>
        <div><span class="viewDataLabel">WEBSITE: </span><a target="_blank" href="{{doc['Website']}}">{{doc['Website']}}</a> </div>
        <div><span class="viewDataLabel">RECURRING: </span>{{doc['Recurring']}}</div>
        <div><span class="viewDataLabel">APPLY START DATE: </span>{{doc['ApplyStartDate']}}</div>
        <div><span class="viewDataLabel">APPLY DEADLINE: </span>{{doc['ApplyDeadline']}}</div> 
        <div><span class="viewDataLabel">WHO IS GIVING THIS GRANT: </span>{{doc['GrantGiver']}}</div>
        <div><span class="viewDataLabel">EXTRA LINK: </span><a target="_blank" href="{{doc['OptionalLink']}}">{{doc['OptionalLink']}}</a></div>
        <div><span class="viewDataLabel">GRANT DESCRIPTION: </span>{{doc['GrantDescription']}}</div>
    </div>
    {% endif %}
</body>
</html>